header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFBA0C;
  padding: 3px 10px;
}

header span {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
